div{
}
.xx{
    font-size:22px;
}
.cc{
    border: 2px solid red;
    border-radius: 4px;
    width: 150px;
    height: 150px;
    transform:translateX(50px)
}
.yy{
    border: 2px solid red;
    border-radius: 30%;
    width: 160px;
    height: 140px;
    background-color:rgba(231, 163, 163, 0.6)
}